# Binary builds
gophershield
*.exe
*.exe~
*.dll
*.so
*.dylib

# Go dependencies and local vendor
vendor/
go.sum

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# OS specific files
.DS_Store
Thumbs.db

# Docker & Persistence
# We ignore the Prometheus data directory so your local 
# database doesn't get pushed to GitHub
prometheus_data/

# Environment and Secrets
.env
*.log

# Test coverage
cover.out
debug.test